@use '../variables';
@use 'sass:color';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$purple;
        transition: background-color 0.3s;

        &:hover {
            background-color: color.scale(variables.$purple, $lightness: -21.5%);
        }
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}